@use "@scss/abstracts/variables" as *;
@use "@scss/abstracts/function" as *;
@use "@scss/abstracts/mixins" as *;

%btn {
	--focus-outline-space: -1px;

	user-select: none;

	position: relative;

	display: inline-block;

	padding: rem(11px) rem(24px);
	border: none;
	border-radius: rem(2px);

	font-size: var(--text-base);
	font-weight: 700;
	line-height: 1.5;
	color: var(--color-white);
	text-align: center;
	text-decoration: none;
	vertical-align: top;

	background-color: var(--color-primary);

	transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;

	@include respond-below(md) {
		padding: rem(9px) rem(14px);
	}

	&::before {
		pointer-events: none;
		content: "";

		position: absolute;
		inset: var(--focus-outline-space);

		border: 1px solid var(--color-gray-200);
		border-radius: rem(5px);

		visibility: hidden;
		opacity: 0;

		transition: 0.4s ease;
	}

	&:hover {
		cursor: pointer;
		color: var(--color-primary);
		text-decoration: none;
		background-color: var(--color-secondary);
	}

	&:focus {
		--focus-outline-space: -4px;

		color: var(--color-white);
		outline: 0;

		&::before {
			visibility: visible;
			opacity: 1;
		}
	}
}

.btn {
	@extend %btn;

	&-sm {
		padding: rem(4px) rem(9px);
		font-size: rem(12px);
	}

	&-link {
		user-select: none;

		position: relative;

		border: 0;

		font-size: var(--text-base);
		font-weight: 700;
		color: var(--color-primary);
		text-decoration: none;

		transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;

		&::before {
			pointer-events: none;
			content: "";

			position: absolute;
			inset: -4px -8px;

			border: 1px solid var(--color-gray-200);
			border-radius: rem(20px);

			visibility: hidden;
			opacity: 0;

			transition: 0.4s ease;
		}

		&::after {
			@include icon("c");

			display: inline-flex;

			margin-left: 8px;

			font-size: rem(9px);
			color: var(--color-primary);

			transition: 0.4s ease;
		}

		&:hover {
			border-color: currentcolor;
			color: var(--color-secondary);
			text-decoration: none;

			&::after {
				transform: translateX(4px);
				color: var(--color-secondary);
			}
		}

		&:focus {
			outline: 0;

			&::before {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend %btn;

	appearance: button;
}