@use "@scss/abstracts/variables" as *;
@use "@scss/abstracts/function" as *;
@use "@scss/abstracts/mixins" as *;

form label {
	display: block;

	margin-bottom: rem(10px);

	font-family: var(--font-family-base);
	font-size: var(--label-font-size);
	font-weight: var(--label-font-weight);
	line-height: var(--line-height-base);
	color: var(--body-color);
}

:is(input, textarea, button, select) {
	font-family: var(--font-family-base);
}

input[type="url"],
input[type="text"],
input[type="submit"],
input[type="button"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="date"],
textarea {
	appearance: none;
	outline: none;
}

textarea {
	resize: none;

	overflow: auto;
	display: block;

	height: var(--textarea-height);
	padding: rem(10px) rem(15px);
}

input[type="url"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="date"],
textarea,
select {
	width: 100%;
	height: var(--input-height);
	padding: 0 rem(15px);
	border: rem(1px) solid var(--input-border-color);
	border-radius: var(--input-radius);

	font-size: var(--font-size-base);
	font-weight: var(--label-font-weight);
	color: var(--body-color);

	&:focus {
		border-color: var(--input-border-color);
		outline: none;
	}

	@include placeholder {
		color: color-mix(in srgb, var(--color-black), transparent 50%);
		opacity: 1;
	}
}

/* for IE */
select::-ms-expand {
	display: none;
}

button {
	cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	transition: background-color 5000s ease-in-out 0s;
}

.form-group {
	margin-bottom: rem(20px);
}

.radio-btn-group {
	.radio-option {
		display: inline-block;
		padding: 0 rem(10px);
		vertical-align: middle;

		&:first-child {
			padding-left: 0;
		}

		.radio-custom-label {
			cursor: pointer;
			margin: 0;
			color: var(--color-black);

			&::before {
				cursor: pointer;
				content: "";

				display: inline-block;

				width: rem(10px);
				height: rem(10px);
				margin-top: rem(3px);
				margin-right: rem(10px);
				border: rem(2px) solid var(--color-white);
				border-radius: 50%;

				vertical-align: middle;

				background-color: var(--color-white);
				box-shadow: 0 0 0 2px var(--color-black);
			}
		}

		.radio-custom {
			position: absolute;
			opacity: 0;

			&:focus {
				+ .radio-custom-label {
					outline: none;
				}
			}

			&:checked {
				+ .radio-custom-label::before {
					background-color: var(--color-black);
				}
			}
		}
	}
}

.checkbox {
	input[type="checkbox"] {
		cursor: pointer;

		display: none;

		width: initial;
		height: initial;
		margin-bottom: 0;
		padding: 0;

		&:checked + label::after {
			content: "";

			position: absolute;
			top: 4px;
			left: 7px;
			transform: rotate(42deg);

			display: block;

			width: rem(5px);
			height: rem(10px);
			border: solid var(--color-secondary-100);
			border-width: 0 rem(2px) rem(2px) 0;
		}
	}

	label {
		cursor: pointer;
		position: relative;

		&::before {
			cursor: pointer;
			content: "";

			position: relative;

			display: inline-block;

			margin-right: rem(8px);
			padding: rem(8px);
			border: rem(2px) solid var(--color-secondary-100);

			vertical-align: middle;

			appearance: none;
			background-color: transparent;
		}
	}
}