@use "@scss/abstracts/variables" as *;
@use "@scss/abstracts/function" as *;
@use "@scss/abstracts/mixins" as *;

/* stylelint-disable max-nesting-depth */
$mbnav: ".mbnav";
$hamburger: ".hamburger";

#{$hamburger} {
    --humburger-box: #{rem(40px)};

    z-index: 999;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--humburger-box);
    height: var(--humburger-box);
    margin: 0 0 0 rem(25px);
    padding: 0;

    text-align: center;

    background-color: transparent;
    
    @include respond-above('lg') {
        display: none;
    }

    &:hover,
    &:focus {
        cursor: pointer;
        background-color: transparent;
        outline: none;
    }

    span {
        cursor: pointer;

        position: relative;
        right: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 2px;
        margin: 0 auto;
        border-radius: 2px;

        background: var(--color-primary);

        transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

        &::before,
        &::after {
            cursor: pointer;
            content: "";

            position: absolute;

            display: block;

            width: 100%;
            height: 100%;
            border-radius: 2px;

            background: var(--color-primary);

            transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        &::before {
            top: -8px;
        }

        &::after {
            bottom: -8px;
        }
    }

    &.is-clicked {
        span {
            background-color: transparent !important;

            &::before,
            &::after {
                top: 0;
                background-color: var(--color-primary);
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                top: 6px;
                transform: translateY(-6px) rotate(-45deg);
            }
        }
    }
}

#{$mbnav} {
    position: relative;
    z-index: -1;
    display: block;
    
    @include respond-above('lg') {
        display: none;
    }

    &__state {
        pointer-events: none;

        position: fixed;
        z-index: 999;
        top: 0;
        bottom: 0;
        left: 100%;

        overflow: hidden;

        width: 100%;

        transition: all 0.3s ease-in-out;
    }

    &__inner {
        pointer-events: none;

        position: relative;

        width: 100%;
        height: 100%;
        max-height: 100vh;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        background: var(--color-secondary);
    }

    &__logo {
        padding: 15px;
        color: var(--color-white);
    }

    .menu-wrap {
        /* stylelint-disable custom-property-pattern */
        --leftSlide: 0;

        position: absolute;
        top: 0;
        right: var(--leftSlide);

        width: 100%;
        height: 100%;

        transition: 0.4s ease;
        /* stylelint-enable custom-property-pattern */
        .menu-wrap {
            right: -100%;
            visibility: hidden;
            opacity: 0;
        }

        > .menu-inner {
            pointer-events: auto;

            overflow: hidden auto;

            max-height: 100%;
            padding-top: rem(85px);

            background-color: var(--color-white);
        }
    }

    ul {
        position: static;
        left: 0;

        width: 100%;
        margin: 0;
        padding: 0 20px;

        box-shadow: 0 0 10px 0 color-mix(in srgb, var(--color-black), transparent 80%);

        transition: 0.4s ease;

        li {
            &.is-open {
                > .menu-wrap {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        li:not(.btn-wrap) {
            position: static;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            margin: 0;
            padding: 0;
            border-bottom: 1px solid var(--color-gray-200);

            font-size: rem(20px);
            font-weight: 500;
            color: var(--color-primary);
            list-style: none;

            &::before {
                display: none;
            }

            &:last-child {
                border-bottom: 0;
            }

            &.has-sub {
                a {
                    &::after {
                        display: none;
                    }
                }
            }

            %after {
                --arrow-width: 10px;

                content: "";

                transform: rotate(45deg);

                display: flex;
                align-items: center;

                width: var(--arrow-width);
                height: var(--arrow-width);
                margin: auto;
                border: calc(var(--arrow-width) / 4) solid var(--color-primary);
                border-bottom: 0;
                border-left: 0;
            }

            a {
                cursor: pointer;

                position: relative;
                z-index: 2;

                display: block;
                flex: 1 1 auto;
                order: -1;

                padding: 10px 0;

                line-height: 1.3;
                color: currentcolor;
                text-decoration: none !important;

                &::after {
                    @extend %after;

                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;

                    display: none;

                    margin-right: 0;
                    margin-left: auto;
                }
            }

            &.is-open {
                > #{$mbnav}__caret:after {
                    transform: rotate(0);
                }
            }

            &.has-sub {
                > a {
                    flex: 1 1 auto;
                }
            }

            .btn-wrap {
                position: fixed;
                bottom: 20px;
                left: 20px;
                transform: translateY(200%);

                width: calc(100% - 40px);
                margin: 0;

                transition: 0.4s ease-in-out;

                &::before {
                    display: none;
                }

                a {
                    display: block;
                }
            }
            
            &.back-click {
                position: relative;

                order: -1;

                width: 100%;
                padding: 10px 0 10px 20px;

                font-weight: 400;
                color: currentcolor;
    
                &::before {
                    --arrow-width: 10px;
                    
                    content: "";

                    position: absolute;
                    top: 20px;
                    left: 2px;
                    transform: rotate(-135deg);

                    display: flex;
                    align-items: center;

                    width: var(--arrow-width);
                    height: var(--arrow-width);
                    margin: auto;
                    border: calc(var(--arrow-width) / 4) solid var(--color-primary);
                    border-bottom: 0;
                    border-left: 0;
                }
            }

            @at-root #{$mbnav}__caret {
                cursor: pointer;

                z-index: 1;

                display: grid;
                align-items: center;
                justify-content: flex-end;

                width: 30px;
                height: auto;

                &::before {
                    @extend %after;

                    .color-mbnav & {
                        color: var(--color-primary) !important;
                    }
                }
            }
        }

        ul {
            li {
                font-size: var(--text-menu-2);

                a {
                    padding-left: 25px;
                }

                li {
                    font-size: var(--text-menu-3);

                    a {
                        padding-left: 35px;
                    }
                }
            }
        }

        > li {
            > .sub-menu {
                position: absolute;
                left: 100%;
            }
        }
    }

    &__backdrop {
        position: fixed;
        z-index: -1;
        inset: 0;

        visibility: hidden;
        opacity: 0;
        background: color-mix(in srgb, var(--color-black), transparent 45%);

        transition: all 0.4s ease-in;
    }

    &__overlay {
        position: fixed;
        z-index: 99;
        inset: 0;

        visibility: hidden;
        opacity: 0;
        background: color-mix(in srgb, var(--color-black), transparent 50%);

        transition: all 0.4s ease-in;

        &.is-show {
            visibility: visible;
            opacity: 1;
        }
    }

    &.is-open {
        .btn-wrap {
            transform: translateY(0);
        }
        #{$mbnav}__state {
            left: 0;
        }
        #{$mbnav}__backdrop {
            z-index: 999;
            visibility: visible;
            opacity: 1;
        }
    }
}
/* stylelint-enable max-nesting-depth */