@use "@scss/abstracts/variables" as *;
@use "@scss/abstracts/function" as *;
@use "@scss/abstracts/mixins" as *;

/* --- footer --- */
.main-footer {
	align-self: end;

	width: 100%;
	height: auto;
	padding: 50px 0;

	line-height: normal;
	text-align: center;

	background: $primary-100;
}