/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@7.1.2_webpack@5.101.3/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/.pnpm/postcss-loader@8.1.1_postcss@8.5.6_webpack@5.101.3/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/.pnpm/sass-loader@16.0.5_sass@1.90.0_webpack@5.101.3/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./sources/scss/style.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --font-sans: "Open Sans", "Arial", sans-serif;
  --font-icon: "iconfontfamily";
  --text-base: 1rem;
  --color-primary: #1eb2a6;
  --color-secondary: #ffa34d;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-200: #dee3e2;
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
  --leading-normal: 1.5;
  --leading-tight: 1.1;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --spacing-heading-margin: 0.938rem;
  --text-h1: 3.125rem;
  --text-h2: 2.5rem;
  --text-h3: 2rem;
  --text-h4: 1.563rem;
  --text-h5: 1.25rem;
  --text-h6: 1.125rem;
  --container-width: 73.125rem;
  --spacing-container-gutter: 3.125rem;
  --spacing-row-gutter: 1.875rem;
  --container-full: calc(var(--container-width) + (var(--spacing-container-gutter) * 2));
  --text-label: 0.875rem;
  --font-weight-label: 400;
  --input-background: var(--color-white);
  --radius-input: 0;
  --height-input: 2.625rem;
  --color-input-border: var(--color-secondary);
  --height-textarea: 9.375rem;
  --text-menu-1: 18px;
  --text-menu-2: 16px;
  --text-menu-3: 14px;
}

/* Note: If need Disable Decimal-value functionilty open function.scss file */
/* mini laptop resolution 1349 X 662 and 1246 X 681 and 1218 X 672 */
/* Mozila Firefox */
/* Reset css */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
a,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  -webkit-font-smoothing: subpixel-antialiased;
  vertical-align: baseline;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: color-mix(in srgb, var(--color-black), transparent 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

/* Text-level semantics */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
audio,
video,
iframe {
  display: block;
  max-width: 100%;
}

/**
 * Basic typography style for copy text
 */
html {
  height: 100%;
  font-size: pxtopercent(16px);
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  min-height: 100%;
  font-family: var(--font-sans);
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  line-height: var(--leading-normal);
  color: var(--color-foreground);
  background-color: var(--color-background);
}
body.scroll-fixed {
  overflow: hidden;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    height: 100%;
  }
}

h1,
.h1 {
  margin-bottom: var(--spacing-heading-margin);
  font-family: inherit;
  font-size: var(--text-h1, 3.125rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  color: var(--color-foreground);
  word-break: keep-all;
}
h1 a,
.h1 a {
  display: block;
  color: inherit;
  text-decoration: none;
}
h1 span,
.h1 span {
  font-weight: 400;
}
@media (max-width: 1199px) {
  h1,
  .h1 {
    font-size: 2.625rem;
  }
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 2.25rem;
  }
}

h2,
.h2 {
  margin-bottom: var(--spacing-heading-margin);
  font-family: inherit;
  font-size: var(--text-h2, 2.5rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  color: var(--color-foreground);
  word-break: keep-all;
}
h2 a,
.h2 a {
  display: block;
  color: inherit;
  text-decoration: none;
}
h2 span,
.h2 span {
  font-weight: 400;
}
@media (max-width: 1199px) {
  h2,
  .h2 {
    font-size: 2.125rem;
  }
}
@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: 1.813rem;
  }
}

h3,
.h3 {
  margin-bottom: var(--spacing-heading-margin);
  font-family: inherit;
  font-size: var(--text-h3, 2rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  color: var(--color-foreground);
  word-break: keep-all;
}
h3 a,
.h3 a {
  display: block;
  color: inherit;
  text-decoration: none;
}
h3 span,
.h3 span {
  font-weight: 400;
}
@media (max-width: 767px) {
  h3,
  .h3 {
    font-size: 1.5rem;
  }
}

h4,
.h4 {
  margin-bottom: var(--spacing-heading-margin);
  font-family: inherit;
  font-size: var(--text-h4, 1.563rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  color: var(--color-foreground);
  word-break: keep-all;
}
h4 a,
.h4 a {
  display: block;
  color: inherit;
  text-decoration: none;
}
h4 span,
.h4 span {
  font-weight: 400;
}
@media (max-width: 767px) {
  h4,
  .h4 {
    font-size: 1.25rem;
  }
}

h5,
.h5 {
  margin-bottom: var(--spacing-heading-margin);
  font-family: inherit;
  font-size: var(--text-h5, 1.25rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  color: var(--color-foreground);
  word-break: keep-all;
}
h5 a,
.h5 a {
  display: block;
  color: inherit;
  text-decoration: none;
}
h5 span,
.h5 span {
  font-weight: 400;
}
@media (max-width: 767px) {
  h5,
  .h5 {
    font-size: 1.125rem;
  }
}

h6,
.h6 {
  margin-bottom: var(--spacing-heading-margin);
  font-family: inherit;
  font-size: var(--text-h6, 1.125rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  color: var(--color-foreground);
  word-break: keep-all;
}
h6 a,
.h6 a {
  display: block;
  color: inherit;
  text-decoration: none;
}
h6 span,
.h6 span {
  font-weight: 400;
}
@media (max-width: 767px) {
  h6,
  .h6 {
    font-size: 1.063rem;
  }
}

p {
  margin-bottom: 1.25rem;
}
p:last-child {
  margin-bottom: 0;
}

.eyebrow-text {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  padding-left: 0.625rem;
  font-size: 0.875rem;
}
.eyebrow-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: var(--color-secondary);
}

:is(ul, ol) {
  --ulol-left-padding: 1.25rem;
  margin-bottom: 0.938rem;
  padding-left: var(--ulol-left-padding);
}
:is(ul, ol) li {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
:is(ul, ol) li:last-child {
  padding-bottom: 0;
}

ul > li::marker {
  font-size: 1.2em;
  color: var(--color-secondary);
}

blockquote {
  position: relative;
  display: block;
  margin-bottom: 1.563rem;
  padding: 1.25rem;
  border-left: 0.25rem solid var(--color-primary);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 2;
  color: var(--color-black);
  text-align: left;
  background-color: var(--color-gray-200);
  /* stylelint-disable no-descending-specificity */
  /* stylelint-enable no-descending-specificity */
}
blockquote p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

hr {
  overflow: visible;
  width: 100%;
  height: 0;
  margin: 1.875rem auto;
  border: 0 var(--color-black) solid;
  border-top-width: 0.063rem;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top;
}
img[src$=".svg"] {
  max-height: 100%;
}

picture {
  display: inline-block;
  vertical-align: top;
}

/* Link */
a {
  color: var(--color-primary);
  text-decoration: underline;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}
a:hover {
  color: var(--color-secondary);
  outline: none;
}
a.tab-outline {
  outline: 1px solid;
  outline-offset: 0.188rem;
}

/* Tables */
table {
  border-spacing: 0;
  border-collapse: collapse;
}
table td {
  font-weight: normal;
  text-align: left;
}

.table-responsive {
  overflow-x: auto;
  display: block;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-bordered {
  width: 100%;
  max-width: 100%;
  text-align: left;
}
.table-bordered td,
.table-bordered th {
  padding: 0.625rem;
  border-bottom: 0.063rem solid var(--color-gray-200);
  vertical-align: bottom;
}

/* stylelint-disable selector-class-pattern */
.fancybox__content > .carousel__button.is-close {
  top: -3.125rem;
  right: 0;
}

/* stylelint-enable selector-class-pattern */
/**
 * Main content containers
 */
.alignwide, .container-fluid, .container {
  --gutter: var(--spacing-container-gutter);
  width: min(100% - var(--gutter) * 2, var(--container-width, 100%));
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .alignwide, .container-fluid, .container {
    --gutter: 1.25rem;
  }
}

.container {
  --container-width: var(--container-width);
}
[class*=cell-] {
  position: relative;
  width: 100%;
  padding-right: calc(var(--spacing-row-gutter) * 0.5);
  padding-left: calc(var(--spacing-row-gutter) * 0.5);
}

/* row and column */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--spacing-row-gutter) * -0.5);
  margin-left: calc(var(--spacing-row-gutter) * -0.5);
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class*=cell-] {
  padding-right: 0;
  padding-left: 0;
}

/* display helpers */
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.d-flex-inline {
  display: inline-flex;
}
.d-flex img {
  align-self: center;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

/* alignment helpers */
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-content-center {
  align-content: center;
}
.alignnone {
  float: none;
  margin: 1.25rem 0;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 1.25rem auto;
}
.alignleft {
  float: left;
  margin: 0 1.25rem 1.25rem 0;
}
.alignright {
  float: right;
  margin: 0 0 1.25rem 1.25rem;
}

.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}

/* text alignment */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

/* background and text color */
.bg-white {
  background-color: var(--color-white);
}

.text-white {
  color: var(--color-white);
}

.bg-dark {
  background-color: var(--color-black);
}

.text-dark {
  color: var(--color-black);
}

/* column structure */
.cell-1 {
  width: 8.3333333333%;
}

.cell-2 {
  width: 16.6666666667%;
}

.cell-3 {
  width: 25%;
}

.cell-4 {
  width: 33.3333333333%;
}

.cell-5 {
  width: 41.6666666667%;
}

.cell-6 {
  width: 50%;
}

.cell-7 {
  width: 58.3333333333%;
}

.cell-8 {
  width: 66.6666666667%;
}

.cell-9 {
  width: 75%;
}

.cell-10 {
  width: 83.3333333333%;
}

.cell-11 {
  width: 91.6666666667%;
}

.cell-12 {
  width: 100%;
}

.mt-30,
.m-30,
.my-30 {
  margin-top: 1.875rem;
}

.pt-30,
.p-30,
.py-30 {
  padding-top: 1.875rem;
}

.mb-30,
.m-30,
.my-30 {
  margin-bottom: 1.875rem;
}

.pb-30,
.p-30,
.py-30 {
  padding-bottom: 1.875rem;
}

.ml-30,
.m-30,
.mx-30 {
  margin-left: 1.875rem;
}

.pl-30,
.p-30,
.px-30 {
  padding-left: 1.875rem;
}

.mr-30,
.m-30,
.mx-30 {
  margin-right: 1.875rem;
}

.pr-30,
.p-30,
.px-30 {
  padding-right: 1.875rem;
}

/* responsive variants */
@media (min-width: 576px) {
  .cell-sm-1 {
    width: 8.3333333333%;
  }
  .cell-sm-2 {
    width: 16.6666666667%;
  }
  .cell-sm-3 {
    width: 25%;
  }
  .cell-sm-4 {
    width: 33.3333333333%;
  }
  .cell-sm-5 {
    width: 41.6666666667%;
  }
  .cell-sm-6 {
    width: 50%;
  }
  .cell-sm-7 {
    width: 58.3333333333%;
  }
  .cell-sm-8 {
    width: 66.6666666667%;
  }
  .cell-sm-9 {
    width: 75%;
  }
  .cell-sm-10 {
    width: 83.3333333333%;
  }
  .cell-sm-11 {
    width: 91.6666666667%;
  }
  .cell-sm-12 {
    width: 100%;
  }
  .mt-sm-30,
  .m-sm-30,
  .my-sm-30 {
    margin-top: 1.875rem;
  }
  .pt-sm-30,
  .p-sm-30,
  .py-sm-30 {
    padding-top: 1.875rem;
  }
  .mb-sm-30,
  .m-sm-30,
  .my-sm-30 {
    margin-bottom: 1.875rem;
  }
  .pb-sm-30,
  .p-sm-30,
  .py-sm-30 {
    padding-bottom: 1.875rem;
  }
  .ml-sm-30,
  .m-sm-30,
  .mx-sm-30 {
    margin-left: 1.875rem;
  }
  .pl-sm-30,
  .p-sm-30,
  .px-sm-30 {
    padding-left: 1.875rem;
  }
  .mr-sm-30,
  .m-sm-30,
  .mx-sm-30 {
    margin-right: 1.875rem;
  }
  .pr-sm-30,
  .p-sm-30,
  .px-sm-30 {
    padding-right: 1.875rem;
  }
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: flex;
  }
  .align-sm-items-start {
    align-items: flex-start;
  }
  .align-sm-items-center {
    align-items: center;
  }
  .align-sm-items-end {
    align-items: flex-end;
  }
  .align-sm-content-center {
    align-content: center;
  }
  .justify-sm-content-start {
    justify-content: flex-start;
  }
  .justify-sm-content-center {
    justify-content: center;
  }
  .justify-sm-content-end {
    justify-content: flex-end;
  }
  .justify-sm-content-between {
    justify-content: space-between;
  }
  .justify-sm-content-around {
    justify-content: space-around;
  }
  .justify-sm-content-evenly {
    justify-content: space-evenly;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-left {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .cell-md-1 {
    width: 8.3333333333%;
  }
  .cell-md-2 {
    width: 16.6666666667%;
  }
  .cell-md-3 {
    width: 25%;
  }
  .cell-md-4 {
    width: 33.3333333333%;
  }
  .cell-md-5 {
    width: 41.6666666667%;
  }
  .cell-md-6 {
    width: 50%;
  }
  .cell-md-7 {
    width: 58.3333333333%;
  }
  .cell-md-8 {
    width: 66.6666666667%;
  }
  .cell-md-9 {
    width: 75%;
  }
  .cell-md-10 {
    width: 83.3333333333%;
  }
  .cell-md-11 {
    width: 91.6666666667%;
  }
  .cell-md-12 {
    width: 100%;
  }
  .mt-md-30,
  .m-md-30,
  .my-md-30 {
    margin-top: 1.875rem;
  }
  .pt-md-30,
  .p-md-30,
  .py-md-30 {
    padding-top: 1.875rem;
  }
  .mb-md-30,
  .m-md-30,
  .my-md-30 {
    margin-bottom: 1.875rem;
  }
  .pb-md-30,
  .p-md-30,
  .py-md-30 {
    padding-bottom: 1.875rem;
  }
  .ml-md-30,
  .m-md-30,
  .mx-md-30 {
    margin-left: 1.875rem;
  }
  .pl-md-30,
  .p-md-30,
  .px-md-30 {
    padding-left: 1.875rem;
  }
  .mr-md-30,
  .m-md-30,
  .mx-md-30 {
    margin-right: 1.875rem;
  }
  .pr-md-30,
  .p-md-30,
  .px-md-30 {
    padding-right: 1.875rem;
  }
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .align-md-items-start {
    align-items: flex-start;
  }
  .align-md-items-center {
    align-items: center;
  }
  .align-md-items-end {
    align-items: flex-end;
  }
  .align-md-content-center {
    align-content: center;
  }
  .justify-md-content-start {
    justify-content: flex-start;
  }
  .justify-md-content-center {
    justify-content: center;
  }
  .justify-md-content-end {
    justify-content: flex-end;
  }
  .justify-md-content-between {
    justify-content: space-between;
  }
  .justify-md-content-around {
    justify-content: space-around;
  }
  .justify-md-content-evenly {
    justify-content: space-evenly;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-left {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .cell-lg-1 {
    width: 8.3333333333%;
  }
  .cell-lg-2 {
    width: 16.6666666667%;
  }
  .cell-lg-3 {
    width: 25%;
  }
  .cell-lg-4 {
    width: 33.3333333333%;
  }
  .cell-lg-5 {
    width: 41.6666666667%;
  }
  .cell-lg-6 {
    width: 50%;
  }
  .cell-lg-7 {
    width: 58.3333333333%;
  }
  .cell-lg-8 {
    width: 66.6666666667%;
  }
  .cell-lg-9 {
    width: 75%;
  }
  .cell-lg-10 {
    width: 83.3333333333%;
  }
  .cell-lg-11 {
    width: 91.6666666667%;
  }
  .cell-lg-12 {
    width: 100%;
  }
  .mt-lg-30,
  .m-lg-30,
  .my-lg-30 {
    margin-top: 1.875rem;
  }
  .pt-lg-30,
  .p-lg-30,
  .py-lg-30 {
    padding-top: 1.875rem;
  }
  .mb-lg-30,
  .m-lg-30,
  .my-lg-30 {
    margin-bottom: 1.875rem;
  }
  .pb-lg-30,
  .p-lg-30,
  .py-lg-30 {
    padding-bottom: 1.875rem;
  }
  .ml-lg-30,
  .m-lg-30,
  .mx-lg-30 {
    margin-left: 1.875rem;
  }
  .pl-lg-30,
  .p-lg-30,
  .px-lg-30 {
    padding-left: 1.875rem;
  }
  .mr-lg-30,
  .m-lg-30,
  .mx-lg-30 {
    margin-right: 1.875rem;
  }
  .pr-lg-30,
  .p-lg-30,
  .px-lg-30 {
    padding-right: 1.875rem;
  }
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: flex;
  }
  .align-lg-items-start {
    align-items: flex-start;
  }
  .align-lg-items-center {
    align-items: center;
  }
  .align-lg-items-end {
    align-items: flex-end;
  }
  .align-lg-content-center {
    align-content: center;
  }
  .justify-lg-content-start {
    justify-content: flex-start;
  }
  .justify-lg-content-center {
    justify-content: center;
  }
  .justify-lg-content-end {
    justify-content: flex-end;
  }
  .justify-lg-content-between {
    justify-content: space-between;
  }
  .justify-lg-content-around {
    justify-content: space-around;
  }
  .justify-lg-content-evenly {
    justify-content: space-evenly;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-left {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .cell-xl-1 {
    width: 8.3333333333%;
  }
  .cell-xl-2 {
    width: 16.6666666667%;
  }
  .cell-xl-3 {
    width: 25%;
  }
  .cell-xl-4 {
    width: 33.3333333333%;
  }
  .cell-xl-5 {
    width: 41.6666666667%;
  }
  .cell-xl-6 {
    width: 50%;
  }
  .cell-xl-7 {
    width: 58.3333333333%;
  }
  .cell-xl-8 {
    width: 66.6666666667%;
  }
  .cell-xl-9 {
    width: 75%;
  }
  .cell-xl-10 {
    width: 83.3333333333%;
  }
  .cell-xl-11 {
    width: 91.6666666667%;
  }
  .cell-xl-12 {
    width: 100%;
  }
  .mt-xl-30,
  .m-xl-30,
  .my-xl-30 {
    margin-top: 1.875rem;
  }
  .pt-xl-30,
  .p-xl-30,
  .py-xl-30 {
    padding-top: 1.875rem;
  }
  .mb-xl-30,
  .m-xl-30,
  .my-xl-30 {
    margin-bottom: 1.875rem;
  }
  .pb-xl-30,
  .p-xl-30,
  .py-xl-30 {
    padding-bottom: 1.875rem;
  }
  .ml-xl-30,
  .m-xl-30,
  .mx-xl-30 {
    margin-left: 1.875rem;
  }
  .pl-xl-30,
  .p-xl-30,
  .px-xl-30 {
    padding-left: 1.875rem;
  }
  .mr-xl-30,
  .m-xl-30,
  .mx-xl-30 {
    margin-right: 1.875rem;
  }
  .pr-xl-30,
  .p-xl-30,
  .px-xl-30 {
    padding-right: 1.875rem;
  }
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-flex {
    display: flex;
  }
  .align-xl-items-start {
    align-items: flex-start;
  }
  .align-xl-items-center {
    align-items: center;
  }
  .align-xl-items-end {
    align-items: flex-end;
  }
  .align-xl-content-center {
    align-content: center;
  }
  .justify-xl-content-start {
    justify-content: flex-start;
  }
  .justify-xl-content-center {
    justify-content: center;
  }
  .justify-xl-content-end {
    justify-content: flex-end;
  }
  .justify-xl-content-between {
    justify-content: space-between;
  }
  .justify-xl-content-around {
    justify-content: space-around;
  }
  .justify-xl-content-evenly {
    justify-content: space-evenly;
  }
  .text-xl-center {
    text-align: center;
  }
  .text-xl-right {
    text-align: right;
  }
  .text-xl-left {
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .cell-xxl-1 {
    width: 8.3333333333%;
  }
  .cell-xxl-2 {
    width: 16.6666666667%;
  }
  .cell-xxl-3 {
    width: 25%;
  }
  .cell-xxl-4 {
    width: 33.3333333333%;
  }
  .cell-xxl-5 {
    width: 41.6666666667%;
  }
  .cell-xxl-6 {
    width: 50%;
  }
  .cell-xxl-7 {
    width: 58.3333333333%;
  }
  .cell-xxl-8 {
    width: 66.6666666667%;
  }
  .cell-xxl-9 {
    width: 75%;
  }
  .cell-xxl-10 {
    width: 83.3333333333%;
  }
  .cell-xxl-11 {
    width: 91.6666666667%;
  }
  .cell-xxl-12 {
    width: 100%;
  }
  .mt-xxl-30,
  .m-xxl-30,
  .my-xxl-30 {
    margin-top: 1.875rem;
  }
  .pt-xxl-30,
  .p-xxl-30,
  .py-xxl-30 {
    padding-top: 1.875rem;
  }
  .mb-xxl-30,
  .m-xxl-30,
  .my-xxl-30 {
    margin-bottom: 1.875rem;
  }
  .pb-xxl-30,
  .p-xxl-30,
  .py-xxl-30 {
    padding-bottom: 1.875rem;
  }
  .ml-xxl-30,
  .m-xxl-30,
  .mx-xxl-30 {
    margin-left: 1.875rem;
  }
  .pl-xxl-30,
  .p-xxl-30,
  .px-xxl-30 {
    padding-left: 1.875rem;
  }
  .mr-xxl-30,
  .m-xxl-30,
  .mx-xxl-30 {
    margin-right: 1.875rem;
  }
  .pr-xxl-30,
  .p-xxl-30,
  .px-xxl-30 {
    padding-right: 1.875rem;
  }
  .d-xxl-none {
    display: none;
  }
  .d-xxl-block {
    display: block;
  }
  .d-xxl-flex {
    display: flex;
  }
  .align-xxl-items-start {
    align-items: flex-start;
  }
  .align-xxl-items-center {
    align-items: center;
  }
  .align-xxl-items-end {
    align-items: flex-end;
  }
  .align-xxl-content-center {
    align-content: center;
  }
  .justify-xxl-content-start {
    justify-content: flex-start;
  }
  .justify-xxl-content-center {
    justify-content: center;
  }
  .justify-xxl-content-end {
    justify-content: flex-end;
  }
  .justify-xxl-content-between {
    justify-content: space-between;
  }
  .justify-xxl-content-around {
    justify-content: space-around;
  }
  .justify-xxl-content-evenly {
    justify-content: space-evenly;
  }
  .text-xxl-center {
    text-align: center;
  }
  .text-xxl-right {
    text-align: right;
  }
  .text-xxl-left {
    text-align: left;
  }
}
/* WordPress default alignment */
.alignfull {
  width: 100%;
}

.alignwide {
  --container-width: var(--container-width);
}

input[type=button],
input[type=reset],
input[type=submit], .btn {
  --focus-outline-space: -1px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  display: inline-block;
  padding: 0.688rem 1.5rem;
  border: none;
  border-radius: 0.125rem;
  font-size: var(--text-base);
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-white);
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  background-color: var(--color-primary);
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;
}
@media (max-width: 767px) {
  input[type=button],
  input[type=reset],
  input[type=submit], .btn {
    padding: 0.563rem 0.875rem;
  }
}
input[type=button]::before,
input[type=reset]::before,
input[type=submit]::before, .btn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: var(--focus-outline-space);
  border: 1px solid var(--color-gray-200);
  border-radius: 0.313rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;
}
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover, .btn:hover {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
  background-color: var(--color-secondary);
}
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus, .btn:focus {
  --focus-outline-space: -4px;
  color: var(--color-white);
  outline: 0;
}
input[type=button]:focus::before,
input[type=reset]:focus::before,
input[type=submit]:focus::before, .btn:focus::before {
  visibility: visible;
  opacity: 1;
}

.btn-sm {
  padding: 0.25rem 0.563rem;
  font-size: 0.75rem;
}
.btn-link {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  border: 0;
  font-size: var(--text-base);
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: none;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;
}
.btn-link::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: -4px -8px;
  border: 1px solid var(--color-gray-200);
  border-radius: 1.25rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;
}
.btn-link::after {
  content: "c";
  font-family: var(--font-icon);
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-flex;
  margin-left: 8px;
  font-size: 0.563rem;
  color: var(--color-primary);
  transition: 0.4s ease;
}
.btn-link:hover {
  border-color: currentcolor;
  color: var(--color-secondary);
  text-decoration: none;
}
.btn-link:hover::after {
  transform: translateX(4px);
  color: var(--color-secondary);
}
.btn-link:focus {
  outline: 0;
}
.btn-link:focus::before {
  visibility: visible;
  opacity: 1;
}

input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

form label {
  display: block;
  margin-bottom: 0.625rem;
  font-family: var(--font-sans);
  font-size: var(--text-label);
  font-weight: var(--font-weight-label);
  line-height: var(--leading-normal);
  color: var(--color-foreground);
}

:is(input, textarea, button, select) {
  font-family: var(--font-sans);
}

input[type=url],
input[type=text],
input[type=submit],
input[type=button],
input[type=password],
input[type=email],
input[type=tel],
input[type=search],
input[type=date],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
  display: block;
  height: var(--height-textarea);
  padding: 0.625rem 0.938rem;
}

input[type=url],
input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=search],
input[type=number],
input[type=date],
textarea,
select {
  width: 100%;
  height: var(--height-input);
  padding: 0 0.938rem;
  border: 0.063rem solid var(--color-input-border);
  border-radius: var(--radius-input);
  font-size: var(--text-base);
  font-weight: var(--font-weight-label);
  color: var(--color-foreground);
}
input[type=url]:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=date]:focus,
textarea:focus,
select:focus {
  border-color: var(--color-input-border);
  outline: none;
}
input[type=url]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=search]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=date]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: color-mix(in srgb, var(--color-black), transparent 50%);
  opacity: 1;
}
input[type=url]::-moz-placeholder, input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=search]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=date]::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: color-mix(in srgb, var(--color-black), transparent 50%);
  opacity: 1;
}
input[type=url]::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder,
input[type=search]::placeholder,
input[type=number]::placeholder,
input[type=date]::placeholder,
textarea::placeholder,
select::placeholder {
  color: color-mix(in srgb, var(--color-black), transparent 50%);
  opacity: 1;
}

/* for IE */
select::-ms-expand {
  display: none;
}

button {
  cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.form-group {
  margin-bottom: 1.25rem;
}

.radio-btn-group .radio-option {
  display: inline-block;
  padding: 0 0.625rem;
  vertical-align: middle;
}
.radio-btn-group .radio-option:first-child {
  padding-left: 0;
}
.radio-btn-group .radio-option .radio-custom-label {
  cursor: pointer;
  margin: 0;
  color: var(--color-black);
}
.radio-btn-group .radio-option .radio-custom-label::before {
  cursor: pointer;
  content: "";
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 0.188rem;
  margin-right: 0.625rem;
  border: 0.125rem solid var(--color-white);
  border-radius: 50%;
  vertical-align: middle;
  background-color: var(--color-white);
  box-shadow: 0 0 0 2px var(--color-black);
}
.radio-btn-group .radio-option .radio-custom {
  position: absolute;
  opacity: 0;
}
.radio-btn-group .radio-option .radio-custom:focus + .radio-custom-label {
  outline: none;
}
.radio-btn-group .radio-option .radio-custom:checked + .radio-custom-label::before {
  background-color: var(--color-black);
}

.checkbox input[type=checkbox] {
  cursor: pointer;
  display: none;
  width: initial;
  height: initial;
  margin-bottom: 0;
  padding: 0;
}
.checkbox input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  transform: rotate(42deg);
  display: block;
  width: 0.313rem;
  height: 0.625rem;
  border: solid var(--color-secondary);
  border-width: 0 0.125rem 0.125rem 0;
}
.checkbox label {
  cursor: pointer;
  position: relative;
}
.checkbox label::before {
  cursor: pointer;
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 0.125rem solid var(--color-secondary);
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
}

.entry-banner {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.entry-banner img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.entry-banner .entry-header {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: color-mix(in srgb, var(--color-black), transparent 25%);
}
.entry-banner .entry-title {
  margin: 0;
  font-size: 2rem;
  color: var(--color-white);
  text-transform: uppercase;
}

:root {
  --space-lg: 6.25rem;
  --space-md: 4.688rem;
  --space-sm: 3.125rem;
}
@media (max-width: 1199px) {
  :root {
    --space-lg: 3.125rem;
    --space-md: 3.125rem;
  }
}
@media (max-width: 767px) {
  :root {
    --space-md: 2.5rem;
    --space-sm: 1.875rem;
  }
}

#wpadminbar {
  position: fixed;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
}

.main-content {
  flex-grow: 1;
  width: 100%;
}

.space-lg {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}
.space-lg-m {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}
.space-md {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}
.space-md-m {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}
.space-sm {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}
.space-sm-m {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.bg-dark *:not(.btn),
.bg-secondary *:not(.btn),
.inner-text-white *:not(.btn) {
  color: var(--color-white);
}

/* Pagination */
.pagination {
  padding: 1.875rem 0;
}
.pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination li {
  position: relative;
  margin: 0 0.625rem;
  padding: 0;
  font-weight: 700;
  color: color-mix(in srgb, var(--color-primary), transparent 40%);
}
.pagination li a:hover {
  color: var(--color-secondary) !important;
}
.pagination li a:not(.prev, .next),
.pagination li span {
  border: none;
  font-weight: 700;
  line-height: 1;
  color: color-mix(in srgb, var(--color-primary), transparent 40%);
  text-decoration: none;
  transition: 0.4s ease background-color, 0.4s ease color;
}
.pagination li a:not(.prev, .next).active,
.pagination li span.active {
  border-color: var(--color-primary);
}
.pagination li .prev,
.pagination li .next {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
}
.pagination li .prev::after,
.pagination li .next::after {
  content: "";
  position: absolute;
  inset: -2px -4px;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  visibility: hidden;
  opacity: 0;
}
.pagination li .prev:hover,
.pagination li .next:hover {
  color: var(--color-secondary);
}
.pagination li .prev:focus::after,
.pagination li .next:focus::after {
  visibility: visible;
  opacity: 1;
  outline: 0;
}
.pagination li .prev.disabled,
.pagination li .next.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.pagination li .current {
  color: var(--color-primary);
}

/* stylelint-disable max-nesting-depth */
.hamburger {
  --humburger-box: 2.5rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--humburger-box);
  height: var(--humburger-box);
  margin: 0 0 0 1.563rem;
  padding: 0;
  text-align: center;
  background-color: transparent;
}
@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}
.hamburger:hover, .hamburger:focus {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
.hamburger span {
  cursor: pointer;
  position: relative;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  margin: 0 auto;
  border-radius: 2px;
  background: var(--color-primary);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger span::before, .hamburger span::after {
  cursor: pointer;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: var(--color-primary);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger span::before {
  top: -8px;
}
.hamburger span::after {
  bottom: -8px;
}
.hamburger.is-clicked span {
  background-color: transparent !important;
}
.hamburger.is-clicked span::before, .hamburger.is-clicked span::after {
  top: 0;
  background-color: var(--color-primary);
}
.hamburger.is-clicked span::before {
  transform: rotate(45deg);
}
.hamburger.is-clicked span::after {
  top: 6px;
  transform: translateY(-6px) rotate(-45deg);
}

.mbnav {
  position: relative;
  z-index: -1;
  display: block;
}
@media (min-width: 992px) {
  .mbnav {
    display: none;
  }
}
.mbnav__state {
  pointer-events: none;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 100%;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.mbnav__inner {
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}
.mbnav__top {
  display: flex;
  justify-content: space-between;
  background: var(--color-secondary);
}
.mbnav__logo {
  padding: 15px;
  color: var(--color-white);
}
.mbnav .menu-wrap {
  /* stylelint-disable custom-property-pattern */
  --leftSlide: 0;
  position: absolute;
  top: 0;
  right: var(--leftSlide);
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
  /* stylelint-enable custom-property-pattern */
}
.mbnav .menu-wrap .menu-wrap {
  right: -100%;
  visibility: hidden;
  opacity: 0;
}
.mbnav .menu-wrap > .menu-inner {
  pointer-events: auto;
  overflow: hidden auto;
  max-height: 100%;
  padding-top: 5.313rem;
  background-color: var(--color-white);
}
.mbnav ul {
  position: static;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  box-shadow: 0 0 10px 0 color-mix(in srgb, var(--color-black), transparent 80%);
  transition: 0.4s ease;
}
.mbnav ul li.is-open > .menu-wrap {
  visibility: visible;
  opacity: 1;
}
.mbnav ul li:not(.btn-wrap) {
  position: static;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-gray-200);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-primary);
  list-style: none;
}
.mbnav ul li:not(.btn-wrap)::before {
  display: none;
}
.mbnav ul li:not(.btn-wrap):last-child {
  border-bottom: 0;
}
.mbnav ul li:not(.btn-wrap).has-sub a::after {
  display: none;
}
.mbnav ul li:not(.btn-wrap) .mbnav__caret::before, .mbnav ul li:not(.btn-wrap) a::after {
  --arrow-width: 10px;
  content: "";
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  width: var(--arrow-width);
  height: var(--arrow-width);
  margin: auto;
  border: calc(var(--arrow-width) / 4) solid var(--color-primary);
  border-bottom: 0;
  border-left: 0;
}
.mbnav ul li:not(.btn-wrap) a {
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: block;
  flex: 1 1 auto;
  order: -1;
  padding: 10px 0;
  line-height: 1.3;
  color: currentcolor;
  text-decoration: none !important;
}
.mbnav ul li:not(.btn-wrap) a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  margin-right: 0;
  margin-left: auto;
}
.mbnav ul li:not(.btn-wrap).is-open > .mbnav__caret:after {
  transform: rotate(0);
}
.mbnav ul li:not(.btn-wrap).has-sub > a {
  flex: 1 1 auto;
}
.mbnav ul li:not(.btn-wrap) .btn-wrap {
  position: fixed;
  bottom: 20px;
  left: 20px;
  transform: translateY(200%);
  width: calc(100% - 40px);
  margin: 0;
  transition: 0.4s ease-in-out;
}
.mbnav ul li:not(.btn-wrap) .btn-wrap::before {
  display: none;
}
.mbnav ul li:not(.btn-wrap) .btn-wrap a {
  display: block;
}
.mbnav ul li:not(.btn-wrap).back-click {
  position: relative;
  order: -1;
  width: 100%;
  padding: 10px 0 10px 20px;
  font-weight: 400;
  color: currentcolor;
}
.mbnav ul li:not(.btn-wrap).back-click::before {
  --arrow-width: 10px;
  content: "";
  position: absolute;
  top: 20px;
  left: 2px;
  transform: rotate(-135deg);
  display: flex;
  align-items: center;
  width: var(--arrow-width);
  height: var(--arrow-width);
  margin: auto;
  border: calc(var(--arrow-width) / 4) solid var(--color-primary);
  border-bottom: 0;
  border-left: 0;
}
.mbnav__caret {
  cursor: pointer;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: auto;
}
.color-mbnav .mbnav__caret::before {
  color: var(--color-primary) !important;
}

.mbnav ul ul li {
  font-size: var(--text-menu-2);
}
.mbnav ul ul li a {
  padding-left: 25px;
}
.mbnav ul ul li li {
  font-size: var(--text-menu-3);
}
.mbnav ul ul li li a {
  padding-left: 35px;
}
.mbnav ul > li > .sub-menu {
  position: absolute;
  left: 100%;
}
.mbnav__backdrop {
  position: fixed;
  z-index: -1;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  background: color-mix(in srgb, var(--color-black), transparent 45%);
  transition: all 0.4s ease-in;
}
.mbnav__overlay {
  position: fixed;
  z-index: 99;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  background: color-mix(in srgb, var(--color-black), transparent 50%);
  transition: all 0.4s ease-in;
}
.mbnav__overlay.is-show {
  visibility: visible;
  opacity: 1;
}
.mbnav.is-open .btn-wrap {
  transform: translateY(0);
}
.mbnav.is-open .mbnav__state {
  left: 0;
}
.mbnav.is-open .mbnav__backdrop {
  z-index: 999;
  visibility: visible;
  opacity: 1;
}

/* stylelint-enable max-nesting-depth */
/* --- header --- */
.main-header {
  position: relative;
  z-index: 999;
  width: 100%;
  height: auto;
  padding: 15px 0;
  background-color: var(--color-white);
  box-shadow: 0 0 10px 0 color-mix(in srgb, var(--color-black), transparent 80%);
  /* nav */
}
.main-header .brand {
  display: block;
  flex: 0 0 auto;
  width: 64px;
}
.main-header .nav-menu {
  flex: 1 1 auto;
  padding-left: 0.938rem;
}
.main-header .navigation {
  display: none;
  word-break: keep-all;
  /* stylelint-disable max-nesting-depth */
  /* stylelint-enable max-nesting-depth */
}
@media (min-width: 992px) {
  .main-header .navigation {
    display: block;
  }
}
.main-header .navigation nav {
  margin-right: 30px;
}
.main-header .navigation nav > ul {
  display: flex;
}
.main-header .navigation nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-header .navigation nav ul li {
  padding: 0;
  list-style: none;
}
.main-header .navigation nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
.main-header .navigation nav ul li.menu-item-has-children {
  position: relative;
}
.main-header .navigation nav ul li.menu-item-has-children > a {
  padding-right: 40px;
}
.main-header .navigation nav ul li.menu-item-has-children > a::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 20px;
  transform: rotate(135deg);
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
  transition: border-color 0.3s;
}
.main-header .navigation nav ul li:hover > a {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.main-header .navigation nav ul li:hover > a::after {
  border-color: var(--color-white);
}
.main-header .navigation nav ul li:hover > ul {
  pointer-events: auto;
  opacity: 1;
}
.main-header .navigation nav ul.sub-menu {
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  opacity: 0;
  transition: opacity 0.3s;
}
.main-header .navigation nav ul.sub-menu .sub-menu {
  top: 0;
  left: 100%;
}
.main-header .navigation nav ul.sub-menu li a {
  display: block;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.main-header .navigation nav ul.sub-menu li.menu-item-has-children > a::after {
  top: 17px;
  transform: rotate(45deg);
  border-color: var(--color-white);
}
.main-header .navigation nav ul.sub-menu li:hover > a {
  color: var(--color-primary);
  background-color: var(--color-white);
}
.main-header .navigation nav ul.sub-menu li:hover > a::after {
  border-color: var(--color-primary);
}
.main-header .navigation nav ul.sub-menu li:not(:last-child) a {
  border-bottom: 1px solid color-mix(in srgb, var(--color-white), transparent 70%);
}

/* --- footer --- */
.main-footer {
  align-self: end;
  width: 100%;
  height: auto;
  padding: 50px 0;
  line-height: normal;
  text-align: center;
  background: var(--color-primary);
}

/*# sourceMappingURL=main.css.map*/